{% if messages %}

<div class="popup-overlay">

    {% for message in messages %}

    <div class="popup-success">

        <div class="popup-icon">
           {% if message.tags == 'success' %}
            <i class="fa-solid fa-circle-check"></i>
           {% endif %}
           {% if message.tags == 'error' %}
            <i class="fa-solid fa-triangle-exclamation"></i>
           {% endif %}
           {% if message.tags == 'warning' %}
            <i class="fa-solid fa-triangle-exclamation"></i>
           {% endif %}
        </div>

        <h2>
            {{message.tags|title}}
        </h2>

        <p>
            {{ message }}
        </p>

        <button
        class="popup-btn"
        onclick="closePopup()">

            OK

        </button>

    </div>

    {% endfor %}

</div>

{% endif %}